@import '@fortawesome/fontawesome-free/css/all.min.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background: #091017;
}

body,
body * {
  user-select: none;
  -webkit-user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}
